  .label{
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  .label-budget{
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
  }
  .label-black{
    font-size: 12px;
    margin: 5px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  .container__item {
    display: flex;
    flex-direction: row;
    background-color: #77acda;
  }
  .container__table{
    flex-direction: row;
    background-color: #77acda;
  }
  .td_header {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-right: 1px solid white;
  }
  .td_body {
    font-size: 12px;
    border-right: 1px solid white;
  }

  /* inpuut */
  .inputTable[type="text"]{
    background-color: transparent;
    vertical-align: middle;
    outline: none;
    border: transparent;
    width: 100%;
    height: 100%;
    }

    /* texterea */
    .textarea {
        background-color: transparent;
        border: transparent;
        width: 100%;
        height: 100%;
        font-size: 16px;
        resize:none;
        outline: none;
        appearance: textfield;
    }
    