.dropdown {
    position: relative;
    display: inline-block;
}
.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 60px;
    right: 16px;
    width: 95%;
    background-color: white;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 8px 0 0 10px;
    z-index: 1;
}
li span {
    color: black;
    text-decoration: none;
}
li {
    padding: 8px 16px;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    color: #fb17ce;
    list-style-type: circle;
}

.inputzone {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 100%;
    height:50px;
    font-size: 14px;
    padding-left: 32px;
}
.inputzone::placeholder {
    color: #a9a9a9;
    font-size: 14px;
}

.inputzone::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #333 transparent transparent transparent;
    right: 6px;
    top: 18px;
    background-color: #fb17ce;

}

.h1-select {
    padding: 8px 16px;
    color: #a9a9a9;
    font-size: 14px;
}
.row {
    margin-top: 16px;
}
.arrow {
    position: absolute;
    height: 15px;
    width: 15px;
    right: 32px;
    top:18px;
}