.bottomNext{
    width: 100%;
    height: 60px;
    border: 1px #fb17ce;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fb17ce;
}
.bottomNext:hover{
    cursor: pointer;
    
    box-shadow: 0 0 16px gray; 
    transform: translateY(-0.25em);
}
.textNext{
    color: #ffffff;
    font-size: 16px;
    margin-right: 8px;
    font-weight: bold;
}
.textTotal{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.bottomTotal{
    width: 80%;
    height: 60px;
    border: 1px #fb17ce;
    background-color: #fb17ce;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.bottomTotal:focus{
  outline-offset: 0px !important;
  outline: none !important;
}

.bottomTotalNumber{
    width: 20%;
    height: 60px;
    border: 1px #bc119a;
    background-color: #bc119a;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bottomTotalNumber{
  outline-offset: 0px !important;
  outline: none !important;
}

.bottomNext:focus{
  outline-offset: 0px !important;
  outline: none !important;
  }

.iconNext{
    width: 15px;
    height: 15px;
    fill: white;
}    
.subTitle{
        color:black;
      font-size:16px;
        margin-bottom:30px;
        margin-top:10px;
    }
.textareaInput{
  width: 100%;
  height: 120px;
  border-radius: 30px;
  border: 1px solid #c8c8c8;
  padding: 24px;
  text-align: left;
  font-size: 14px;
    }
 .textareaInput::placeholder{
  color: #a9a9a9;
  font-size: 14px;
 }
.textareaInput:focus{
      outline-offset: 0px !important;
      outline: none !important;
      }
.inputText{
        width: 100%;
        height: 50px;
        background-color: white;
        border-radius:30px;
        border: 1px solid #cccccc;
        padding-left: 32px;
      }
.inputText:focus{
        outline: 0;
      }
input[type="time"]::-webkit-inner-spin-button{
       margin-right:8px;   
    }
 input[type="number"]::-webkit-inner-spin-button{
      margin-right:8px;   
   }