.field {
    width: 100%;
    height: 50px;
  }
  .field input{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid #c8c8c8;
    text-align: left;
    padding: 24px;
      font-size: 14px;
  }
  .inputText::placeholder{
    color: #a9a9a9;
    font-size: 14px;
  }
  
    input:focus{
    outline-offset: 0px !important;
    outline: none !important;
    }